<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new Post</title>
    <link rel="stylesheet" href="/css/newPost.css">
</head>
<body>
    <header>
        <h1>Create a new POST</h1>
    </header>
    <main>
        <section class="form">
            <form method="post" action="/posts">
                <input type="text" placeholder="Enter your username" name="user">
                <textarea name="content" id="content" placeholder="Write your content..."></textarea>
                <button type="submit">Submit</button>
            </form>
        </section>
    </main>
</body>
</html>